[Unit]
Description=Service voor de Jimmy's Cassette Speler/ Recorder
After=multi-user.target

[Service]
Type=idle
User=pi
ExecStart=/usr/bin/python /home/pi/stormy/machine.py

[Install]
WantedBy=multi-user.target
