[machine]
#GROUNDPIN= 39 #,34,30
BUT1PIN= 38
BUT2PIN = 37
BUT3PIN = 36
BUT4PIN = 32
BUT5PIN = 31
BUT6PIN = 33
LED1PIN= 35
HOME_DIR = /home/pi/stormy/
MUSIC_DIR = /home/pi/Music/
BACKUP_DIR = /home/pi/Music/_backup/
RECORDING_DIR_NAME = Sets
NFC_READER_PRESENT = True
NFC_STOP_CHARACTER = STOP
RECORDING_PROCESS_ID_FILE_NAME = recprocess.pid
NFC_CHIP_DATA_FILE_NAME = nfcchip.dat
SOUND_CARD = plughw:CARD=Device,DEV=0
SOUND_CARD_NO = 1
SOUND_CARD_MIC_NAME = "Mic"
SOUNDCLOUD_DEFAULT_SET = SoundCloud/Sets/Misc
SOUNDCLOUD_DEFAULT_SET_DATA = id=262237843&title=Misc&vfs=SoundCloud/Sets/Misc
SOUNDCLOUD_SET_PATH = SoundCloud/Sets/
USE_LOCAL_FILE_ONLY = True

[upload]
soundcloud_url= https://soundcloud.com/user-787148065/
client_id=
client_secret=
username=
password=
